@{
    ViewData["Title"] = "Escolar Manager";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <input type="button" class="btn btn-danger" value="Listar alunos cadastrados" onclick="location.href='@Url.Action("Index", "Aluno")'"/>
    <input type="button" class="btn btn-dark" value="Cadastrar aluno" onclick="location.href='@Url.Action("Create", "Aluno")'"/>
</div>
